
body {
    width: 1024px;
    font-family: Arial;
}

/* RAMDA */
.ramda {
    color: #000;
    font-size: 48px;
}

.ramda em {
    color: #7ad5ff;
    font-style: normal;
}

/* HEADER */
#horizontalnavbar {
    width: 900px;
    background: #35444f;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 124px;
}

/* Header menu */
ul.h {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
}

li.h {
    float: left;
}

li.h a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}

li.h a:hover:not(.active) {
    border-style: solid;
    border-color: #818181;
    border-width: thin;
}


/* VERTICAL NAVBAR */
#verticalnavbar {
    float	: left;
    border: #35444f;
    border-style: solid;
    border-width: thin;
    width: 270px;
    height: 320px;
}

/* Vertical menu */
ul.v {
    list-style-type: none;
    width: 270px;
    margin: 0;
    padding: 0;
    font-size: large;
}

li.v a {
    display: block;
    color: #485863;
    padding: 8px 16px;
    text-decoration: none;
    line-height: 2.7;
}

li.v a:hover:not(.active) {
    color: #000;
    background-color: #dbdbdb;
}


/* MAIN BLOCKS */
#koza {
    float	: right;
    border: #35444f;
    border-style: solid;
    border-width: thin;
    text-align: center;
    padding: 50px;
    width: 600px;
    height: 320px;
}

#text {
    float: right;
    padding: 20px;
    width: 660px;
    font-size: small;

}

.imgkozapadmarj {
    border-style: dot-dash;
    width: min-content;
    height: min-content;
    padding: 0px;
    margin: 20px;
    background-color: bisque;

}

/* FOOTER */
#footer {
    width: 1004px;
    background: #b4b7ba;
    margin-bottom: 50px;
    padding-left: 20px;
    overflow: auto;
}

#footerleft {
    float: left;
}

/* Footer menu */
ul.f {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: large;
}

li.f {
    float: left;
}

li.f a {
    display: block;
    color: #0c1927;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.f a:hover:not(.active) {
    color: #3181a6;
}

#footerright {
    float: right;
    padding: 16px 16px;
    font-size: small;
}

